<h1>Dashboard</h1>

<div class="grid_5 alpha">
  <h2>Contacts</h2>
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to('Mine', contact_query_yours_path) %></li>
      <% end %>
      <li><%= link_to('New', contact_query_new_path) %></li>
      <li><%= link_to('Updated', contact_query_recent_path) %></li>
    </ul>

  </div>
</div>

<div class="grid_5 alpha">
  <h2>Quick Contact</h2>
  <div class="tabs">
	<ul>
	  <li><%= link_to('New', quick_contacts_path) %><br /></li>
    </ul>
  </div>	
</div>

<div class="grid_5 alpha">
  <h2>Notes</h2>
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to('Mine', note_query_yours_path) %></li>
      <% end %>
      <li><%= link_to('New', note_query_new_path) %></li>
      <li><%= link_to('Updated', note_query_recent_path) %></li>
    </ul>
  </div>
</div>

<div class="grid_5 alpha">
  <h2>Tags</h2>
  <div class="tabs">
    <ul>
      <li><%= link_to('Recent Taggings', tag_query_recent_taggings_path) %></li>
    </ul>
  </div>
</div>
