<div class="grid_5 alpha">
  <h1>Contacts</h1>
  <div class="tabs">
    <ul>
      <li><%= link_to('Mine', contact_query_yours_path) %></li>
      <li><%= link_to('New', contact_query_new_path) %></li>
      <li><%= link_to('Updated', contact_query_recent_path) %></li>
    </ul>

  </div>
</div>

<div class="grid_5 omega">
  <h1>Notes</h1>
  <div class="tabs">
    <ul>
      <li><%= link_to('Mine', note_query_yours_path) %></li>
      <li><%= link_to('New', note_query_new_path) %></li>
      <li><%= link_to('Updated', note_query_recent_path) %></li>
      <li><%= link_to('My to dos', note_query_upcoming_path) %></li>
      <li><%= link_to('All To dos', note_query_all_upcoming_path) %></li>
    </ul>
  </div>
</div>

<div class="clear"></div>

<div class="grid_5 alpha">
  <h1>Tags</h1>
  <div class="tabs">
    <ul>
      <li><a href="#quick-search">Quick Search</a></li>
      <li><%= link_to('Recent Taggings', tag_query_recent_taggings_path) %></li>
    </ul>

    <div id="quick-search">
      <input placeholder="type here, choose a tag, and hit 'go'" type="text" class="quick_search_tag" id="quick_search_tag" style="width: 75%"><input type="submit" value="go" id="quick_search_submit"><br/>
      <div id="quick_search_results">
      </div>
    </div>

  </div>
</div>

<div class="grid_5 omega">
  <h1>Contact lists</h1>
  <div class="tabs">
    <ul>
      <li><%= link_to('Mine', contact_cart_query_yours_path) %></li>
      <li><%= link_to('All', contact_cart_query_all_path) %></li>
      <li><%= link_to('Private', contact_cart_query_your_private_path) %></li>
    </ul>
  </div>

</div>

