<%= semantic_form_for(@contact) do |f| -%>

  <% @contact.emails.build %> 

  <div id="error" class="ui-state-error ui-corner-all ui-widget" style="display: none;"></div>

  <%= f.inputs :name => 'About' do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthday, :as => 'string', :required => false, :input_html => {:class => "datepicker"}, :hint => 'In YYYY-MM-DD format' %>
  <% end  %>

  <%= f.inputs :name => 'Tags', :class => 'collapsable' do %>
    <%= render :partial => 'shared/forms/tag_contexts', :locals => {:f => f, :tc => TagContext.all(:conditions => {:object_tagged => 'Contact'}, :order => :position), :type => 'Contact'} %>
  <% end %>

  <%= f.semantic_fields_for :emails do |email| %>
    <%= email.inputs :name => 'Email' do %>
      <%= email.input :email %>
      <%= email.input :email_type, :collection => Email.email_type_options_for_select %>
      <%= email.input :is_primary, :as => :boolean %>
    <% end %>
  <% end %>  

<% end  -%>
