<% Formtastic::SemanticFormBuilder.priority_countries = ['US','CA','GB'] 
%>
<%= semantic_form_for(@contact) do |f| %>

  <div id="error" class="ui-state-error ui-corner-all ui-widget" style="display: none;"></div>

  <%= f.inputs :name => 'About' do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
	<%= f.input :title %>
  <% end  %>

  <%= f.inputs :name => 'Email Addresses ' + ((f.object.emails.size > 0) ? "(#{f.object.emails.size})" : '' ) do %>
    <% @contact.emails.build %> 
    <%= f.semantic_fields_for :emails do |email| %>
      <%= f.inputs :class => 'block' do %>
        <%= email.input :email, :label => ((email.object.new_record?) ? 'New Email' : 'Email') %>
        <%= email.input :email_type, :as => :select, :collection => Email.email_type_options_for_select %>
        <%= email.input :is_primary, :as => :boolean, :label => 'Primary email address?' %>
        <% unless email.object.new_record? %>
          <%= email.input :_destroy, :as => :boolean, :label => 'Delete?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  
  <%= f.inputs :name => 'Tags' do %>
    <% unless f.object.new_record? %>
      <%= render :partial => 'shared/tag_list_for_display', :object => f.object.tags %>
    <% end %>
    <%= f.input :hierarchical_tags_for_edit, :value => '', :as => 'text', :input_html => {:rows => 5, :cols => 40, :class => 'tag_list'}, :hint => 'a comma separated list of tags.', :label => 'Tag list' %>
    <div class="clear"></div>
    <%= f.input :hierarchical_tag_list, :as => :hidden, :input_html => {:class => 'hierarchical_tag_list'} %>
  <% end %>
  
  <% @notes = Note.paginate(:conditions => ["note_type <> 'task' and contact_id = ?", @contact.id], :order => 'created_at desc', :page => params[:page], :per_page => 3) %>
  <%= f.inputs :name => 'Notes ' + ((@notes.size > 0) ? "(#{@notes.size})" : '' ) do %>
    <%= link_to(raw("#{icon('note_add')} New note"),new_note_path(:contact_id => @contact.id, :type => 'general'),:class => 'dialog-form', :title => "Add Note") %><br />
    <%= render :partial => 'shared/note_list', :locals => {:title => "" } %>
	<br />
  <% end %>
  
  <% @notes = Note.paginate(:conditions => ["note_type = 'task' and contact_id = ?", @contact.id], :order => 'created_at desc', :page => params[:page], :per_page => 3) %>
  <%= f.inputs :name => '&#9654; Tasks ' + ((@notes.size > 0) ? "(#{@notes.size})" : '' ), :class => 'collapsable' do %> 
    <%= link_to(raw("#{icon('note_add')} New task"),new_note_path(:contact_id => @contact.id, :type => 'task'),:class => 'dialog-form', :title => "Add Task") %><br />
    <%= render :partial => 'shared/note_list', :locals => {:title => "" } %>
	<br />
  <% end %>

  <%= f.inputs :name => '&#9654; Phone Numbers ' + ((f.object.phone_numbers.size > 0) ? "(#{f.object.phone_numbers.size})" : '' ), :class => 'collapsable' do %>
    <% @contact.phone_numbers.build %> 
    <%= f.semantic_fields_for :phone_numbers do |phone| %>
      <%= f.inputs :class => 'block' do %>
        <% if phone.object.new_record? %>
          <h3>New Phone Number</h3>
        <% end %>
        <%= phone.input :phone, :label => ((phone.object.new_record?) ? 'New Phone Number' : 'Phone Number') %>
        <%= phone.input :phone_type, :as => :select, :collection => PhoneNumber.phone_type_options_for_select %>
        <%= phone.input :is_primary, :as => :boolean, :label => 'Primary phone number?' %>
        <% unless phone.object.new_record? %>
          <%= phone.input :_destroy, :as => :boolean, :label => 'Delete?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.inputs :name => '&#9654; Addresses '+ ((f.object.addresses.size > 0) ? "(#{f.object.addresses.size})" : '' ), :class => 'collapsable' do %>
    <% @contact.addresses.build %> 
    <%= f.semantic_fields_for :addresses do |add| %>
      <%= f.inputs :class => 'block' do %>
        <% if add.object.new_record? %>
          <h3>New Address</h3>
        <% end %>
        <%= add.input :address_type, :collection => Address.address_type_options_for_select %>
        <%= add.input :address_1, :label => 'Address line 1', :required => true %>
        <%= add.input :address_2, :label => 'Address line 2' %>
        <%= add.inputs :city, :state, :postal_code %>
        <%= add.input :country, :include_blank => true, :required => true %>
        <% unless add.object.new_record? %>
          <%= add.input :_destroy, :as => :boolean, :label => 'Delete?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.inputs :name => '&#9654; Miscellaneous ', :class => 'collapsable' do %>
	<%= f.input :website, :as => 'string', :required => false, :label => 'Website', :input_html => {:value => @contact.website.nil? ? "http://" : @contact.website, :size => 50} %>
	<%= f.input :twitter, :as => 'string', :required => false, :label => 'Twitter', :input_html => {:value => @contact.twitter.nil? ? "http://" : @contact.twitter, :size => 50} %>
	<%= f.input :facebook, :as => 'string', :required => false, :label => 'Facebook', :input_html => {:value => @contact.facebook.nil? ? "http://" : @contact.facebook, :size => 50} %>
	<%= f.input :linkedin, :as => 'string', :required => false, :label => 'LinkedIn', :input_html => {:value => @contact.linkedin.nil? ? "http://" : @contact.linkedin, :size => 50} %>
	<%= f.input :birthday, :as => 'string', :required => false, :input_html => {:class => "datepicker"}, :hint => 'In YYYY-MM-DD format' %>
  <% end %>

<% end %>
