<%= @contact = Contact.new %>

<%= semantic_form_for(@contact, :html => {:class => 'quick_contact_form'}) do |f| %>
  <div id="quick_contact_error" class="ui-state-error ui-corner-all ui-widget" style="display: none;"></div>

  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    
    <%= f.inputs do %>
      <% @contact.emails.build %> 
      <%= f.semantic_fields_for :emails do |email| %>
	  <%= email.input :email, :label => 'Email' %>
      <%= email.input :email_type, :label => 'Email Type', :as => :select, :collection => Email.email_type_options_for_select %>
      <% end %>
    <% end %>
	
    <%= f.input :hierarchical_tags_for_edit, :value => '', :as => 'text', :input_html => {:rows => 3, :cols => 30, :class => 'quick_tag_list'}, :hint => 'a comma separated list of tags.', :label => 'Tag list' %>
    <div class="clear"></div>
    <%= f.input :hierarchical_tag_list, :as => :hidden, :input_html => {:class => 'hierarchical_tag_list'} %>
  <% end  %>

  <%= f.buttons %>

<% end %>
