<% Formtastic::SemanticFormBuilder.priority_countries = ['US','CA','GB'] 
%>
<%= semantic_form_for(@contact) do |f| %>

  <div id="error" class="ui-state-error ui-corner-all ui-widget" style="display: none;"></div>

  <%= f.inputs :name => 'About' do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthday, :as => 'string', :required => false, :input_html => {:class => "datepicker"}, :hint => 'In YYYY-MM-DD format' %>
  <% end  %>

  <%= f.inputs :name => '&#9654; Tags', :class => 'collapsable' do %>
    <%= f.input :hierarchical_tag_list, :as => 'text', :input_html => {:rows => 5, :cols => 40, :class => 'tag_list'}, :hint => 'a comma separated list of tags.', :label => 'Tag list' %>
  <% end %>

  <%= f.inputs :name => '&#9654; Email Addresses ' + ((f.object.emails.size > 0) ? "(#{f.object.emails.size})" : '' ), :class => 'collapsable' do %>
    <% @contact.emails.build %> 
    <%= f.semantic_fields_for :emails do |email| %>
      <%= f.inputs :class => 'block' do %>
        <% if email.object.new_record? %>
          <h3>New Email</h3>
        <% end %>
        <%= email.input :email, :label => ((email.object.new_record?) ? 'New Email' : 'Email') %>
        <%= email.input :email_type, :as => :select, :collection => Email.email_type_options_for_select %>
        <%= email.input :is_primary, :as => :boolean, :label => 'Primary email address?' %>
        <% unless email.object.new_record? %>
          <%= email.input :_destroy, :as => :boolean, :label => 'Delete?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.inputs :name => '&#9654; Addresses '+ ((f.object.addresses.size > 0) ? "(#{f.object.addresses.size})" : '' ), :class => 'collapsable' do %>
    <% @contact.addresses.build %> 
    <%= f.semantic_fields_for :addresses do |add| %>
      <%= f.inputs :class => 'block' do %>
        <% if add.object.new_record? %>
          <h3>New Address</h3>
        <% end %>
        <%= add.input :address_type, :collection => Address.address_type_options_for_select %>
        <%= add.input :address_1, :label => 'Address line 1' %>
        <%= add.input :address_2, :label => 'Address line 2' %>
        <%= add.inputs :city, :state, :postal_code %>
        <%= add.input :country, :include_blank => true %>
        <% unless add.object.new_record? %>
          <%= add.input :_destroy, :as => :boolean, :label => 'Delete?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.inputs :name => '&#9654; Notes ' + ((f.object.notes.size > 0) ? "(#{f.object.notes.size})" : '' ), :class => 'collapsable' do %>
    <% @contact.notes.build %> 
    <%= f.semantic_fields_for :notes do |note| %>
      <%= f.inputs :class => 'block' do %>
        <% if note.object.new_record? %>
          <h3>New Note</h3>
        <% end %>
        <%= render :partial => 'shared/forms/note_fields', :locals => {:f => note } %>
        <% unless note.object.new_record? %>
          <%= note.input :_destroy, :as => :boolean, :label => 'Delete?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<% end %>
