<%= semantic_form_for(@note) do |f| -%>
  <p><strong> on: </strong> <%= @note.contact %></p>
  <div id="error" class="ui-state-error ui-corner-all ui-widget" style="display: none;"></div>
  <%= f.inputs do %>
    <%= render :partial => 'shared/forms/note_fields', :locals => {:f => f } %>
    <%= f.input :contact_id, :as => :hidden %>
    <%= f.input :note_type, :as => :hidden %>
  <% end %>
<% end %>