<%= semantic_form_for(@tag_context) do |f| -%>

  <div id="error" class="ui-state-error ui-corner-all ui-widget" style="display: none;"></div>

  <%= f.inputs :name => 'Tag Context' do %>
    <%= f.input :name, :hint => 'The full name for this context - Organization, Skills, Roles, etc.' %>
    <%= f.input :context, :hint => 'The unix-y name for this context - should only contain a-z, digits, and underscores.' %>
    <%= f.input :object_tagged, :collection => TagContext::TAGGABLE_MODELS, :hint => 'The type of object this context applies to - where do you want to use it?' %>
    <%= f.input :description, :as => :text, :input_html => {:size => '40x4'} %>
  <% end  %>

<% end  -%>
