<div class="address">
  <div class="address_type"><%= address.address_type.titleize unless address.address_type == 'unknown' %></div>
  <% if ! address.address_1.blank? %>
    <%= address.address_1 %><br/>
  <% end %>
  <% if ! address.address_2.blank? %>
    <%= address.address_2 %><br/>
  <% end %>
  <%= address.city %>, <%= address.state %> <%= address.postal_code %> <%= address.country %>
</div>
