<tr class="contact-<%= contact.id %>">
<% unless current_user.blank? %>
  <td><%= check_box_tag 'contacts_to_list[]', contact.id, false, :class => 'check' %>
  <a href="#" class="control" id="contact-control-<%= contact.id %>"><%= icon('cog') %></a>
    <span style="font-size: .70em; margin-left: 5px;">
      <%= link_to(icon('user_edit') + '',edit_contact_path(contact), :title => 'Edit Contact', :class => 'dialog-form') %> 
    </span>
  </td>
<% end %>
<td><%= link_to(contact, contact_path(contact), :class => 'dialog-show') %></td>
<% unless contact.emails[0].nil? %>
  <td><%= mail_to(contact.emails[0].email) %></td>
<% else %>
  <td></td>  
<% end %>

<% unless contact.tags.empty? %>
  <% unless contact.organizations[0].nil? %>
    <td><span class="tagMatches"><%= link_to(contact.organizations[0],tag_path(contact.organizations[0])) %></span></td> 
  <% else %>
    <td></td>	 
  <% end %>	
<% else %>
  <td></td>  
<% end %>

<td><%= contact.updated_at.strftime("%Y-%m-%d") %></td>
<% unless current_user.blank? %><span id="contact-control-<%= contact.id %>-target" style="display: none;">
    <%= link_to(icon('page_add') + ' Add Document',new_document_path(:contact_id => contact.id), :title => 'Add Document') %><br/>
    <%= link_to(icon('note_add') + ' Add Note',new_note_path(:contact_id => contact.id, :task => 'general'),:class => 'dialog-form', :title => "Add Note") %><br/>
	<%= link_to(icon('note_add') + ' Add Task',new_note_path(:contact_id => contact.id, :task => 'task'),:class => 'dialog-form', :title => "Add Task") %><br/>
    <%= link_to(icon('user_edit') + ' Edit Contact',edit_contact_path(contact), :title => 'Edit Contact', :class => 'dialog-form') %><br/>
    <%= link_to(icon('user_delete') + ' Delete contact',contact_path(contact), :title => 'Delete Contact', :method => :delete, :class => 'delete delete-contact') %><br/>
    <%= link_to(icon('group_add') + ' Add to list', '#', :class => "add_to_list", :data_object_type => 'Contact', :data_object_id => contact.id, :title => contact) %>
  </span>
<% end %>
</tr>
