<div class="document document_type_<%= document.document_type %>">
  <% unless current_user.blank? %>
    <div class="icon-container">
      <%= link_to(icon('page_delete'), document_path(document), :method => :delete, :title => 'Delete document', :class => "delete delete-document") %>
      <%= link_to(icon('page_edit'), edit_document_path(document), :title => "Edit document") %>
    </div>
  <% end %>
  <div class="meta">
    <h3><%= document.name %>
      <% unless document.document_type.blank? %>
        <span class="document_type"> - <%=  Document::DOCUMENT_TYPES[document.document_type] %></span>
      <% end %>
    </h3>
  </div>
  <div class="description"><%= document.description %></div>
  <% if document.is_displayable_image? %>
    <%= link_to(raw(image_tag(document.thumb_url('75x75'))), document.file_attachment.url, :target => '_blank') %><br/>
  <% end %>
  <%= link_to('download', document.file_attachment.url, :target => "_blank") %>, <%= (document.file_attachment.file.size / 1024) %> kb <%= document.file_attachment.file.extension %>
  <div class="clear"></div>
</div>
