<div class="note">
  <% unless current_user.blank? %>
    <div class="icon-container">
      <%= link_to(icon('note_delete'), note_path(note), :method => :delete,:class => 'delete delete-note', :title => 'Delete note.') %>
      <%= link_to(icon('note_edit'), edit_note_path(note), :class => 'dialog-form', :title => 'Edit note.') %>
    </div>
  <% end %>
  <div class="note_content">
    <%= note.note %>
  </div>
  <div class="meta">
    <% unless note.due_date.blank? %>
      <div class="due_date">
        <strong>Due On:</strong> <%= note.due_date_display %>
      </div>
    <% end %>
    <div class="due_date">
	  <strong>Created On:</strong> <%= note.create_date_display %>
    </div>
    <% unless note.priority.blank? %>
      <div class="due_date">
        <strong>Priority:</strong> <%= note.priority %>
      </div>
    <% end %>
	<% unless @owners.nil? %>
      <div class="due_date">
        <strong>Owner:</strong> 
		  <% @owners.each do |o| %>
		     <%= o.email %>
		  <% end %>	
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
