<div class="note">
  <div class="icon-container">
    <%= link_to(icon('note_delete'), note_path(note), :method => :delete,:class => 'delete delete-note') %>
    <%= link_to(icon('note_edit'), edit_note_path(note), :class => 'dialog-form') %>
  </div>
  <div class="meta">
    <% unless note.priority.blank? %>
      <div class="priority">
        <%= note.priority %>
      </div>
    <% end %>
    <% unless note.due_date.blank? %>
      <div class="due_date">
        <%= note.due_date_display %>
      </div>
    <% end %>
  </div>
  <div class="note_content">
    <%= note.note %>
  </div>
  <div class="clear"></div>
</div>
