<div class="actions">
  <%= link_to('Dashboard', root_path) %>
  <hr/>
  <% unless current_user.blank? %>
    <%= link_to 'New Contact', new_contact_path, :class => 'dialog-form', :title => "New Contact" %>
    <%= link_to 'New contact list', new_contact_cart_path, :class => 'dialog-form', :title => 'New Contact List' %>
    <%= link_to 'Import a csv file', importer_path %>
  <% end %>
  <hr/>
  <%= link_to 'Notes', notes_path %>
  <%= link_to 'Documents', documents_path %>
  <%= link_to 'Tags', tags_path %>
</div>
