<div class="actions">
  <div class="accordion">
    <h3><a href="#contacts">Contacts</a></h3>
    <div>
      <ul>
        <li><%= link_to 'list', '/' %></li>
        <% unless current_user.blank? %>
          <li><%= link_to 'new', new_contact_url, :class => 'dialog-form' %></li>
        <% end %>
      </ul>
    </div>
    <h3><a href="#notes">Notes</a></h3>
    <div>
      <ul>
        <li><%= link_to 'all notes', notes_url %></li>
      </ul>
    </div>
    <h3><a href="#tags">Tags</a></h3>
    <div>
      <ul>
        <li><%= link_to 'list', tags_url %></li>
      </ul>
    </div>
    <h3><a href="#mailings">Mailings</a></h3>
    <div>
    </div>
    <h3><a href="#carts">Contact Lists</a></h3>
    <div>
      <ul>
        <% unless current_user.blank? %>
          <li><%= link_to 'New contact list', new_contact_cart_path, :class => 'dialog-form' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
