<h1><%= title %></h1>
<% unless @notes.blank? %>
  <ul>
    <% @notes.each do |n| %>
      <li><%= truncate(n.note,:length => 90, :separator => ' ') %><span class="floating-control control-note-<%= n.id %>"><%= link_to('edit', edit_note_path(n),:class => 'dialog-form') %> <%= link_to('del',note_path(n), :method => :delete, :class => 'delete delete-note') %></span></li>
    <% end %>
  </ul>
  <%= will_paginate(@notes) %>
<% else %>
  <h2>None found.</h2>
<% end %>
