<div class="contact_cart_<%= @contact_cart.id %>">
  <h1><%= @contact_cart.name %></h1>
  <div class="tabs">
    <ul>
      <% if @contact_cart.active_contact_input_types.include?('Contact') %>
        <li><%= link_to('Contacts', contacts_contact_cart_path(@contact_cart)) %></li>
      <% end %>
      <% if @contact_cart.active_contact_input_types.include?('ActsAsTaggableOn::Tag') %>
        <li><%= link_to('Tags', tags_contact_cart_path(@contact_cart)) %></li>
      <% end %>
	  <li><%= link_to('Add Contacts', search_contact_cart_path) %></li>
    </ul>
  </div>
</div>
<br />

<% unless current_user.blank? %>
  <% emails = "" %>
  <% @contact_cart.contacts.collect {|contact| emails += contact.emails[0].email + ", "  } %>
  <p><%= mail_to(emails, raw("#{icon('note_add')} Email List"), :target => "blank") %></p>
<% end %>