<!--
<div class="contacts-index">
  <h1>Contacts</h1>
  <% if @contacts.blank? %>
    <h2>None found.</h2>
  <% else %>
    <h2><%= @contacts.length %> total</h2>
    <ul>
    <% @contacts.each do|c| %>
      <li><%= c.first_name  %> <%= c.birthday %></li>
    <% end %>
  </ul>
  <%= will_paginate(@contacts) %>
  <% end %>
</div>
-->

<div class="grid_9 alpha">
  <h2>Contacts</h2>
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to('Mine', contact_query_yours_path) %></li>
      <% end %>
	  <li><%= link_to('All', contact_query_all_path) %></li>
      <li><%= link_to('New', contact_query_new_path) %></li>
      <li><%= link_to('Updated', contact_query_recent_path) %></li>
	  <li><%= link_to('Add New', new_contact_path, :class => 'dialog-form', :title => "New Contact") %></li>
    </ul>

  </div>
</div>

<div class="grid_9 alpha">
  <h2>Contact Lists</h2>
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to 'Mine', contact_cart_query_yours_path %></li>
      <% end %>
	  <li><%= link_to('All', contact_cart_query_all_path) %></li>
      <li><%= link_to('New', contact_cart_query_new_path) %></li>
      <li><%= link_to('Updated', contact_cart_query_recent_path) %></li>
	  <li><%= link_to 'Add New', new_contact_cart_path, :class => 'dialog-form', :title => 'New Contact List' %></li>
    </ul>

  </div>
</div>
