<div class="grid_8 alpha">
  <h2>Contacts</h2>
  <% unless current_user.blank? %>
    <h4><%= link_to(icon('add') + ' Add New', new_contact_path, :class => 'dialog-form', :title => "New Contact") %></h4>
  <% end %>	
  <% form_tag({:controller => 'contact_carts', :action => 'add_group'}, :id => 'contacts_form') do %>
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to('Mine', contact_query_yours_path) %></li>
      <% end %>
	  <li><%= link_to('All', contact_query_all_path) %></li>
      <li><%= link_to('New', contact_query_new_path) %></li>
      <li><%= link_to('Updated', contact_query_recent_path) %></li>
    </ul>
	
	<h2>Bulk Actions</h2>
	  <h5><a id="displayText" href="javascript:toggle();" class="access-account">Add to Contact List <%= icon('arrow_right') %></a></h5>
	  <div id ="toggleText" style="display: none">
		<p>
			New List: <%= text_field_tag :contact_list_new %><br />
			Choose List: <%= select_tag(:contact_list, options_from_collection_for_select(ContactCart.all_available(current_user), "id", "name"), :include_blank => true) %>
		</p>
	  </div>
	  <h5><a id="displayText1" href="javascript:toggle1();" class="access-account">Add Note <%= icon('arrow_right') %></a></h5>
	  <div id ="toggleText1" style="display: none">
		<p>
			Type: <%= select_tag(:note_type, options_for_select(Note.note_type_options_for_select)) %><br />
			Note: <%= text_area_tag :note %>
		</p>
	  </div>
	  <h5><a id="displayText2" href="javascript:toggle2();" class="access-account">Add Task <%= icon('arrow_right') %></a></h5>
	  <div id ="toggleText2" style="display: none">
		<p>
			Task: <%= text_area_tag :task %><br />
			Priority: <%= select_tag(:priority, options_for_select((0..100).to_a)) %><br />
			Due Date: <%= date_select(:due_date, Date.today) %><br />
			Owner: <%= select_tag :owner, options_from_collection_for_select(User.all, "id", "email"), :include_blank => true %>
		</p>
	  </div>
	  <h5><a id="displayText3" href="javascript:toggle3();" class="access-account">Add Tags <%= icon('arrow_right') %></a></h5>
	  <div id ="toggleText3" style="display: none">
		<p>
			Tags: <%= text_area_tag :hierarchical_tag_list, nil, :class => 'tag_list' %>
			<div class="clear"></div>
		</p>
	  </div>
	  <p>
		<%= submit_tag 'Submit' %>
	  </p>
	<% end %>
  </div>
</div>

<div class="grid_8 alpha">
  <h2>Contact Lists</h2>
  <p>Lists are customized groups of contacts that you can create on the fly.</p>
  <% unless current_user.blank? %>
    <h4><%= link_to icon('add') + ' Add New', new_contact_cart_path, :class => 'dialog-form', :title => 'New Contact List' %></h4>
  <% end %>	
  <div class="tabs">
    <ul>
      <% unless current_user.blank? %>
        <li><%= link_to 'Mine', contact_cart_query_yours_path %></li>
      <% end %>
	  <li><%= link_to('All', contact_cart_query_all_path) %></li>
    </ul>

  </div>
</div>
