<h1><%= @contact %> <%= link_to(icon('user_edit'),edit_contact_path(@contact), :title => 'Edit Contact', :class => 'dialog-form') %></h1>
<ul>
  <% unless @contact.birthday.blank? %>
    <li><div class="label">Birthday:</div> <%= @contact.birthday %></li>
  <% end %>

  <%= render :partial => 'shared/tag_list', :object => @contact.tags %> 

  <% unless @contact.documents.blank? %>
    <li><h2>Documents</h2></li>
    <%= render :partial => 'shared/document_list', :object => @contact.documents %>
  <% end %>

  <% unless @contact.emails.blank? %>
    <li><h2>Email addresses</h2></li>
    <li class="emails">
    <%= render :partial => 'shared/lines/email', :collection => @contact.emails %>
    </li>
  <% end %>

  <% unless @contact.addresses.blank? %>
    <li><h2>Addresses</h2></li>
    <li class="addresses">
    <%= render :partial => 'shared/lines/address', :collection => @contact.addresses %>
    </li>
  <% end %>

  <li><%= link_to(raw("New note #{icon('note_add')}"),new_note_path(:contact_id => @contact.id),:class => 'dialog-form', :title => "Add Note") %></li>
  <li class="list note-list contact" id="contact-<%= @contact.id %>">
  </li>


</ul>
