
<span style="float:left; width:60%">
  <h1><%= @contact %></h1>
</span>

<span style="float:right; text-align:right; width:40%; margin:12px 0 25px 0;">
	<%= link_to(raw("#{icon('google')} Google #{@contact}"), "https://www.google.com/search?q=#{@contact.first_name}+#{@contact.last_name}", :target => "_blank") %>
</span>




  <% unless current_user.blank? %>
    <%= link_to(raw("#{icon('user_edit')} Edit Contact"),edit_contact_path(@contact), :title => 'Edit Contact', :class => 'dialog-form smalltext') %> <br />
  <% end %>


<div class="tabs" style="margin: 1em 0 1em 0em;">
  <ul>
    <li><a href="#about-<%= @contact.id %>">About</a></li>
    <li><%= link_to('Documents', url_for(:controller => 'document_query', :action => 'contact', :id => @contact.id)) %></li>
    <% unless current_user.blank? %>
      <li><%= link_to('Possible duplicates', url_for(:controller => 'contact_query', :action => 'similar_names', :id => @contact.id)) %></li>
      <li><%= link_to('Less likely duplicates', url_for(:controller => 'contact_query', :action => 'similar_names', :mwl => 3, :id => @contact.id)) %></li>
    <% end %>
  </ul>
  <div id="about-<%= @contact.id %>">
	<% @notes = Note.paginate(:conditions => ["note_type = 'about' and contact_id = ?", @contact.id], :order => 'created_at desc', :page => params[:page], :per_page => 3) %>
    <% unless @notes.empty? %>
      <h2 class="contact_section_header collapsable">About</h2>
      <div class="notes">
        <%= render :partial => 'shared/note_list', :locals => {:title => "" } %>
      </div>
      <div class="clear"></div>
    <% end %>

	<% unless @contact.tags.empty? %>
	  <h2 class="contact_section_header">Tags</h2>
      <%= render :partial => 'shared/tag_list_for_display', :object => @contact.tags %> 
	<% end %>  

    <% unless @contact.tags.empty? || @contact.organizations.empty? %>
      <h2 class="contact_section_header">Organizations</h2>
      <div class="organizations">
        <%= render :partial => 'shared/lines/organization', :collection => @contact.organizations %>
      </div>
      <div class="clear"></div>
    <% end %>
	
    <% unless @contact.title.blank? %>
      <h2 class="contact_section_header">Title</h2>
	  <%= @contact.title %>
	  <div class="clear"></div>
    <% end %>
	
    <% unless @contact.emails.blank? %>
      <h2 class="contact_section_header">Email addresses</h2>
      <div class="emails">
        <%= render :partial => 'shared/lines/email', :collection => @contact.emails %>
      </div>
      <div class="clear"></div>
    <% end %>

    <% unless @contact.phone_numbers.blank? %>
      <h2 class="contact_section_header">Phone numbers</h2>
      <div class="phone_numbers">
        <%= render :partial => 'shared/lines/phone_number', :collection => @contact.phone_numbers %>
      <div class="clear"></div>
    <% end %>

    <% unless @contact.addresses.blank? %>
      <h2 class="contact_section_header">Addresses</h2>
      <div class="addresses">
        <%= render :partial => 'shared/lines/address', :collection => @contact.addresses %>
      </div>
      <div class="clear"></div>
    <% end %>
	
    <% @notes = Note.paginate(:conditions => ["note_type = 'general' and contact_id = ?", @contact.id], :order => 'created_at desc', :page => params[:page], :per_page => 3) %>
    <% unless @notes.empty? %>
      <h2 class="contact_section_header collapsable">Notes</h2>
      <div class="notes">
        <%= render :partial => 'shared/note_list', :locals => {:title => "" } %>
      </div>
      <div class="clear"></div>
    <% end %>
	
    <% @notes = Note.paginate(:conditions => ["note_type = 'task' and contact_id = ?", @contact.id], :order => 'created_at desc', :page => params[:page], :per_page => 3) %>
    <% unless @notes.empty? %>
      <h2 class="collapsable">Tasks</h2>
      <div class="tasks">
        <%= render :partial => 'shared/note_list', :locals => {:title => "" } %>
      </div>
      <div class="clear"></div>
    <% end %>

	<h2 class="contact_section_header">Miscellaneous</h2>
	<% unless @contact.birthday.blank? %>
	  Website: <%= link_to @contact.website, @contact.website, :target => "blank" %><br />
	  Twitter: <%= link_to @contact.twitter, @contact.twitter, :target => "blank" %><br />
	  Facebook: <%= link_to @contact.facebook, @contact.facebook, :target => "blank" %><br />
	  LinkedIn: <%= link_to @contact.linkedin, @contact.linkedin, :target => "blank" %><br /><br />
	  Birthday: <%= @contact.birthday %>
	  <div class="clear"></div>
    <% end %>
	
    <h2 class="contact_section_header">Additional Info</h2>
	Date Added: <%= @contact.created_at %><br />
	Last Modified: <%= @contact.updated_at %>
	<div class="clear"></div>
  </div>
</div>
<br />

<% unless current_user.blank? %>
  <p><%= link_to(raw("#{icon('note_add')} New note"),new_note_path(:contact_id => @contact.id, :type => 'general'),:class => 'dialog-form', :title => "Add Note") %></p>
  <p><%= link_to(raw("#{icon('note_add')} New task"),new_note_path(:contact_id => @contact.id, :type => 'task'),:class => 'dialog-form', :title => "Add Task") %></p>
  <p><%= link_to(raw("#{icon('page_add')} New document"),new_document_path(:contact_id => @contact.id),:class => 'dialog-form', :title => "Add Document") %></p>
  <p><%= link_to(raw("#{icon('note_add')} Add About Text"),new_note_path(:contact_id => @contact.id, :type => 'about'),:class => 'dialog-form', :title => "Add About") %></p>
<% end %>  

