<h1>Tag: "<%= @tag.hierarchical_name %>"</h1>

<div class="grid_5 alpha">
  <div class="tabs">
    <ul>
      <li><%= link_to('Contacts', url_for(:controller => :contact_query, :action => :tag_contacts, :id => @tag.id)) %></li>
      <li><a href="#tools">Tools</a></li>
    </ul>
    <div id="tools">
      <%= link_to(icon('group_add') + ' Add items from this tag to a list', '#', :class => "add_to_list", :data_object_type => 'ActsAsTaggableOn::Tag', :data_object_id => @tag.id, :title => @tag) %>
      
    </div>
  </div>
</div>

<div class="grid_4 omega">
  <span class="tagMatches existingTags">
    <% unless @tag.ancestors.empty? %>
      <% @tag.ancestors.each do |t| %>
      <span><%= link_to(t, tag_path(t)) %></span>
      <div class="clear"></div>
    <% end %>
    <% end %>
    <h3>Includes items tagged with:</h3>
    <div style="margin-left: 1em">
      <% @tag.descendants.sort_by{|d| d.hierarchical_name}.each do|d| %>
        <span><%= link_to(d.hierarchical_name, tag_path(d)) %></span>
        <div class="clear"></div>
      <% end %>
    </div>
  </span>
</div>
