<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'redmond/jquery-ui-1.8.16.custom.css' %>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'grid' %>
    <%= formtastic_stylesheet_link_tag  %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery-1.6.2.min.js' %>
    <%= javascript_include_tag 'jquery.form.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js' %>
    <%= javascript_include_tag 'cohort-jquery-extensions.js' %>
    <%= javascript_include_tag 'jquery.tag.suggestion.js' %>
    <%= javascript_include_tag 'jquery.hoverIntent.minified.js' %>
    <%= javascript_include_tag 'jquery.bt.js' %>
    <%= javascript_include_tag 'application.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_12" id="header_wrapper">
      <div class="header">
        <div class="grid_4 alpha"></div>
        <div class="grid_4" id="messages">
          <% [:notice,:error,:alert].each do|flash_type| %>
            <% unless flash[flash_type].blank? %>
              <div class="flash flash-<%= flash_type %>">
                <%= flash[flash_type] %>
              </div>
            <% end %>
          <% end %>
          &nbsp;
        </div>
        <div class="grid_12">
          <% unless current_user.blank? %>
            Welcome, <%= current_user.email %>
            <%= link_to('Log Out', destroy_user_session_path, :confirm => "Are you sure?", :class => 'delete', :message => 'Are you sure you want to log out?') %> / <%= link_to('New User', new_user_path, :class => 'dialog-form', :title => "New User") %>
          <% else %>
            <%= link_to('Log In', new_user_session_path) %>
          <% end %>
        </div>
      </div> 
    </div>

    <div class="clear"></div>

    <div class="container_12">
      <div class="body">
        <div class="grid_3 alpha">
		  <%= link_to(image_tag("logo.jpg"), root_url) %>
          <%= render :partial => 'shared/actions' %>
        </div>
		<div class="grid_9 omega">
          <!--<div class="breadcrumbs"><%= breadcrumbs.render(:format => :inline, :separator => ' &raquo; ') %></div>-->
		  <% unless current_user.blank? %>
		    <div id="cog-text">
		      Click on the <%= icon('cog') %> for more actions.
		    </div>	
		  <% end %>	
          <div class="main">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="container_12" id="footer">
		
    </div>
  </body>
</html>
