<!DOCTYPE html>
<html>
  <head>
    <title>CohortNg</title>
    <%= stylesheet_link_tag 'redmond/jquery-ui-1.8.16.custom.css' %>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'grid' %>
    <%= formtastic_stylesheet_link_tag  %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery-1.6.2.min.js' %>
    <%= javascript_include_tag 'jquery.form.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js' %>
    <%= javascript_include_tag 'cohort-jquery-extensions.js' %>
    <%= javascript_include_tag 'jquery.tag.suggestion.js' %>
    <%= javascript_include_tag 'jquery.hoverIntent.minified.js' %>
    <%= javascript_include_tag 'jquery.bt.js' %>
    <%= javascript_include_tag 'application.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_12" id="header_wrapper">
      <div class="header">
        <div class="grid_4 alpha"><h1><%= link_to('Cohort NG', root_url) %></h1></div>
        <div class="grid_4">
          <% [:notice,:error,:alert].each do|flash_type| %>
            <% unless flash[flash_type].blank? %>
              <div class="flash flash-<%= flash_type %>">
                <%= flash[flash_type] %>
              </div>
            <% end %>
          <% end %>
          &nbsp;
        </div>
        <div class="grid_4 omega" id="right-header-container">
          <%= form_tag(contact_query_search_path, :method => :get) do %>
            <%= text_field_tag(:q, params[:q], :size => 15, :id => 'search_input',:placeholder => 'search . . ') %>
            <%= submit_tag('go') %>
          <% end %>
          <%= image_tag('ajax-loader.gif', :id => 'spinner') %>
        </div>
      </div> 
    </div>

    <div class="clear"></div>

    <div class="container_12">
      <div class="body">
        <div class="grid_2 alpha">
          <%= render :partial => 'shared/actions' %>
        </div>
        <div class="grid_10 omega">
          <div class="main">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="container_12" id="footer">
      <div class="grid_12">
        <% unless current_user.blank? %>
          Welcome, <%= current_user.email %>
          <%= link_to('log out', destroy_user_session_path, :confirm => "Are you sure?", :class => 'delete', :message => 'Are you sure you want to log out?') %>
        <% else %>
          <%= link_to('log in', new_user_session_path) %> / 
          <%= link_to('sign up', new_user_registration_path) %>
        <% end %>
      </div>
    </div>
  </body>
</html>
